.webcamCapture {
  position: relative;
  height: 400px;
  width: 250px;
}

.webcamCapture__button{
  position: absolute!important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
  cursor: pointer;
  color: white!important;
}

.goToChat{
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -100%);
}